<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<div th:insert="fragments/header :: header-css"> </div>
	<div th:insert="fragments/menu :: menu"> </div>

</head>
<body>

<div class="wrapper">
  <!--   Creative Tim Branding   -->
  <a href="http://localhost:8080/listclientes">
    <div class="logo-container-back">
      <div class="logo-back">
        <img class="img-back" src="icons/btn_nav/atras2.png">
      </div>
      <div class="brand">
        Back 
      </div>
    </div>
  </a>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="description ">
          <h2>Detalle Cliente</h2>
		</div>

        <div class="fresh-table full-color-orange">
        <!--
          Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
          Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
        -->

		<div class="fresh-table full-color-orange margin_5" th:object="${cliente}">Detalle</div>
          <table id="fresh-table_detalle" class="table">
          	
          	<tr>
 				<th th:text="'id: '+ ${cliente.id}"> </th>
 				<th ></th>
 				<th>Fecha Alta</th>
 				<th>Fecha Fin</th>         	    	
          	</tr>
          	
          	<tr>
          		<th >Cliente</th>
          		<td th:text="${cliente.nombre}">Lorca</td>
          		<td><span th:text="${cliente.apellido1}">Sebastian</span></td> 
          		<td><span th:text="${cliente.apellido2}">Sebastian</span>1/10/2020</td>
          	</tr>
          	
          	<tr>
          		<th>Descripcion</th>
          		<td colspan="3" th:text="${cliente.observaciones}">El mobile no funciona</td>

          	</tr>

          	</table>
		<div> . </div>
		<div class="fresh-table full-color-orange margin_5">Listado Mantenimientos</div>
          <table id="fresh-table" class="table">
            <thead>
              <th >ID</th>
              <th  data-sortable="true">Descripción</th>
              <th  data-sortable="true">F. Alta</th>
              <th  data-sortable="true">F. Alerta</th>
            </thead>
            <tbody>
              <tr th:each="man : ${mante}">  
                <td th:text="${man.id}"> - </td>
                <td th:text="${man.descripcion}"> - </td>
                <td th:text="${man.falta}"> - </td>
                <td th:text="${man.falerta}"> - </td>

              </tr>

            </tbody>
          </table>
        </div>

        <div class="description description-footer">

          <p>Copyright &copy; 2022  by kike </p>
        </div>
      
    </div>
  </div>
</div>

<!--  Boton Ajustes -->
<div class="fixed-plugin posicion-ajustes" >
  <div class="dropdown ">
    <a href="#" data-toggle="dropdown">
    <i class="fa fa-cog fa-2x"> </i></a><samp>  Busqueda </samp>
    <ul class="dropdown-menu"> <!-- dropdown-menu  header-title adjustments-line clearfix  dropdown fixed-plugin -->
    
      <li class="header-title">Busqueda Avanzada:</li>
      <li class=" margin_li">
		<div th:insert="fragments/ventana :: busqueda"> </div>
      </li>
      <li >

      </li>
    </ul>
  </div>
</div>


<div class="fixed-plugin posicion-alta " >
  <div class="dropdown ">
    <a href="#" data-toggle="dropdown">    <i class="fa fa-cog fa-2x"> </i>    </a>
	<samp> Alta </samp>
    <ul class="dropdown-menu"> <!-- dropdown-menu  header-title adjustments-line clearfix  dropdown fixed-plugin -->
    
      <li class="header-title">Registro nueva tarea:</li>
      <li class="margin_li ">
			<!-- falta include -->
			<div th:insert="fragments/ventana :: alta"> </div>
      </li>
      <li >

      </li>
    </ul>
  </div>
</div>

</body>

  <script type="text/javascript">
    var $table = $('#fresh-table')
    var $tableDetail = $('#fresh-table_detalle')
    
    var $alertBtn = $('#alertBtn')



    $(function () {
      $table.bootstrapTable({
        classes: 'table table-hover table-striped',
        toolbar: '.toolbar',
		
        search: true,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 8,
        pageList: [8, 10, 25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber + ' rows visible'
        }
      })
    })

        $(function () {
      $tableDetail.bootstrapTable({
        classes: 'table table-hover table-striped',
        toolbar: '.toolbar',
		
        search: true,
        showRefresh: false,
        showToggle: false,
        showColumns: false,
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 8,
        pageList: [8, 10, 25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber + ' rows visible'
        }
      })
    })





  </script>


</html>