<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<div th:insert="fragments/header :: header-css"> </div>
	<div th:insert="fragments/menu :: menu"> </div>
	
	  <!--   Creative Tim Branding   -->
  <a href="http://localhost:8080/orange">
    <div class="logo-container">
      <div class="logo">
        <img src="assets/img/new_logo.png">
      </div>
      <div class="brand">
        Creative Kike
      </div>
	 
    </div>
  </a>
<title>Listado de clientes</title>
</head>
<body>
	<h1> Listado clientes _</h1>
</body>
</html>