<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div th:fragment=menu>
		<nav class="navbar navbar-expand-lg navbar-light bg-light menu-ajustes">
		  <a class="navbar-brand" href="#"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="http://localhost:8080/orange">To-do <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="http://localhost:8080/listclientes">Clientes</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="http://localhost:8080/listproductos">Productos</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="http://localhost:8080/vender">Caja</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Tienda</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Estadisticas</a>
		      </li>
		      <li class="nav-item dropdown active">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Gestión
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="#">Mantenimiento Listas</a>
		          <a class="dropdown-item" href="http://localhost:8080/orange/entrenoTiempoIntensidad">Calcular entreno tiempo intensidad</a>
		          <a class="dropdown-item" href="#">Admin System</a>
		          <a class="dropdown-item" href="#">Seguridad</a>
		        </div>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>
</body>


</html>