<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
<div th:fragment=busqueda>
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/search}" method="get" th:object="${search}">
          <br><!--  jugar el border padin -->
				<div class="form-group form-inline ">	
					<select class="styled-select space" placeholder="tarea" >
					<option   selected> Seleccione una opción </option>
					  <option th:value="Tarea" th:text="Tarea"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					  <option th:value="Integracion" th:text="Integracion"></option>
					  <option th:value="Soporte" th:text="Soporte"></option>
					  <option th:value="Testing" th:text="Testing"></option>
					  <option th:value="Desarrollo" th:text="Desarrollo"></option>
					</select>
					
					<select class="styled-select space" placeholder="prioridad" >
					  <option th:value="Alta" th:text="Alta"></option>
					  <option th:value="Media" th:text="Media"></option>
					  <option th:value="Baja" th:text="Baja"></option>
					</select>
<!-- 					<select class="styled-select space" placeholder="status" th:field="*{status}">
					  <option th:value="Activo" th:text="Activo"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					</select>	 -->				
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" >
					<datalist id="clientes">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
					<div class="input-group date radius_30">
						<input type="date" class="form-control radius_30" id="fecha" placeholder="Fecha Alert" >
					</div> 
				</div>

                
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" >
				<div class="marging_30">
	            	<button type="submit" name="action" value="en espera" class="btn btn-primary mb-3 ">En espera</button>
    	        	<button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
    	        </div>
			</form>
			<br> 
          </div>
</div>

<div th:fragment="alta">
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/alta}" method="get" th:object="${alta}">
          <br><!--  ventana.html -->
				<div class="form-group form-inline ">	
					<select class="styled-select space" placeholder="tarea" th:field="*{tarea}">
					<option th:value="${null}"   selected> Seleccione una opción </option>
					  <option th:value="Tarea" th:text="Tarea"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					  <option th:value="Integracion" th:text="Integracion"></option>
					  <option th:value="Soporte" th:text="Soporte"></option>
					  <option th:value="Testing" th:text="Testing"></option>
					  <option th:value="Desarrollo" th:text="Desarrollo"></option>
					</select>
					
					<select class="styled-select space" placeholder="prioridad" th:field="*{prioridad}">
					  <option th:value="Alta" th:text="Alta"></option>
					  <option th:value="Media" th:text="Media"></option>
					  <option th:value="Baja" th:text="Baja"></option>
					</select>
<!-- 					<select class="styled-select space" placeholder="status" th:field="*{status}">
					  <option th:value="Activo" th:text="Activo"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					</select>	 -->				
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" >
					<datalist id="clientes">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
					<div class="input-group date radius_30">
						<input type="date" class="form-control radius_30" id="fecha" placeholder="Fecha Alert" th:field="*{fAlert}" >
					</div> 
				</div>

                
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" >
				<div class="marging_30">
	            	<button type="submit" name="action" value="en espera" class="btn btn-primary mb-3 ">En espera</button>
    	        	<button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
    	        </div>
			</form>
			<br> <!--  Jugar con el padin -->	
          </div>
</div>


<div th:fragment="alta_cliente">
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/alta_cliente}" method="get" th:object="${alta_cliente}">
          <br><!--  ventana.html -->
				<div class="form-group form-inline ">	
					<input type="text" class="form-control space" name="nombre" placeholder="nombre" >
					<input type="text" class="form-control space" name="apellido1" placeholder="apellido 1" >
					<input type="text" class="form-control space" name="apellido2" placeholder="apellido 2" >
					<input type="text" class="form-control space" name="telefono" placeholder="telefono" >
					<input type="text" class="form-control space" name="email" placeholder="correo" >
					<input class="form-control space" list="municipios" name="municipio" type="text" placeholder="Elige un municipio" >
					<datalist id="municipios">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
					<input type="text" class="form-control space" name="direccion" placeholder="dirección" >
				</div>

                
				<input type="text" class="form-control space" name="observaciones" placeholder="notas" >
				<div class="marging_30">
    	        	<button type="submit" name="action"  class="btn btn-primary mb-3">Guardar</button>
    	        </div>
			</form>
			<br> <!--  Jugar con el padin -->	
          </div>
</div>

<div th:fragment="busqueda_clientes">
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/searchClientes}" method="get" th:object="${searchClientes}">
          <br><!--  ventana.html -->
				<div class="form-group form-inline ">	
					<input type="text" class="form-control space" name="nombre" placeholder="nombre" >
					<input type="text" class="form-control space" name="apellido1" placeholder="apellido 1" >
					<input type="text" class="form-control space" name="apellido2" placeholder="apellido 2" >
					<input type="text" class="form-control space" name="telefono" placeholder="telefono" >
					<input type="text" class="form-control space" name="email" placeholder="correo" >
					<input class="form-control space" list="municipios" name="municipio" type="text" placeholder="Elige un municipio" >
					<datalist id="municipios">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
					<input type="text" class="form-control space" name="direccion" placeholder="dirección" >
				</div>

                
				<input type="text" class="form-control space" name="observaciones" placeholder="notas" >
				<div class="marging_30">
    	        	<button type="submit" name="action"  class="btn btn-primary mb-3">Buscar</button>
    	        </div>
			</form>
			<br> <!--  Jugar con el padin -->	
          </div>
</div>


<div th:fragment="alta_mantenimiento">
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/alta_mtn}" method="get" th:object="${alta_mtn}">
          <br><!--  ventana.html -->
				<div class="form-group form-inline ">	
					<input type="text" class="form-control space" name="descripcion" placeholder="Descripcion mantenimiento" >
				</div>
				<div class="input-group date radius_30">
					<input type="date" class="form-control radius_30" id="fecha" placeholder="Fecha Alert" th:field="*{falerta}" >
				</div> 				
				<div class="marging_30">
    	        	<button type="submit" name="action"  class="btn btn-primary mb-3">Guardar Mantenimiento</button>
    	        </div>
			</form>
			<br> <!--  Jugar con el padin -->	
          </div>
</div>

<div th:fragment="busqueda_mantenimientos">
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/searchMantenimientos}" method="get" th:object="${search_mtn}">
          <br><!--  ventana.html -->
				<div class="form-group form-inline ">	
					<input type="text" class="form-control space" name="descripcion" placeholder="Descripcion mantenimiento" >
				</div>
				<div class="input-group date radius_30">
					<input type="date" class="form-control radius_30" id="fecha" placeholder="Fecha Alert" th:field="*{falerta}" >
				</div> 				
				<div class="marging_30">
    	        	<button type="submit" name="action"  class="btn btn-primary mb-3">Guardar Mantenimiento</button>
    	        </div>
			</form>
			<br> <!--  Jugar con el padin -->	
          </div>
</div>

<div th:fragment="alta_producto">
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/alta_producto}" method="get" th:object="${alta_producto}">
          <br><!--  ventana.html -->
				<div class="form-group form-inline ">	
					<input type="text" class="form-control space" name="codProducto" placeholder="Cod Producto" >
					<input type="text" class="form-control space" name="nombre" placeholder="nombre" >
					<input type="text" class="form-control space" name="precio" placeholder="precio" >
					<input type="text" class="form-control space" name="descuento" placeholder="descuento" >
					<input type="text" class="form-control space" name="marca" placeholder="Marca" >
					<input type="text" class="form-control space" name="modelo" placeholder="Modelo" >
					<input type="text" class="form-control space" name="categoria" placeholder="categoria" >
					<input type="text" class="form-control space" name="subCategoria" placeholder="Sub Categoria" >
					<input type="text" class="form-control space" name="stock" placeholder="Stock" >
				</div>
				<div class="marging_30">
    	        	<button type="submit" name="action"  class="btn btn-primary mb-3">Guardar</button>
    	        </div>
			</form>
			<br> <!--  Jugar con el padin -->	
          </div>
</div>


<div th:fragment="busqueda_producto">
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/search_producto}" method="get" th:object="${search_producto}">
          <br><!--  ventana.html -->
				<div class="form-group form-inline ">	
					<input type="text" class="form-control space" name="codProducto" placeholder="Cod Producto" >
					<input type="text" class="form-control space" name="nombre" placeholder="nombre" >
					<input type="text" value="precio" class="form-control space" name="precio" placeholder="precio" >
					<input type="text" class="form-control space" name="descuento" placeholder="descuento" >
					<input type="text" class="form-control space" name="marca" placeholder="Marca" >
					<input type="text" class="form-control space" name="modelo" placeholder="Modelo" >
					<input type="text" class="form-control space" name="categoria" placeholder="categoria" >
					<input type="text" class="form-control space" name="subCategoria" placeholder="Sub Categoria" >
					<input type="text" class="form-control space" name="stock" placeholder="Stock" >
				</div>
				<div class="marging_30">
    	        	<button type="submit" name="action"  class="btn btn-primary mb-3">Buscar</button>
    	        </div>
			</form>
			<br> <!--  Jugar con el padin -->	
          </div>
</div>

<!--  pendiente  -->
<div th:fragment="edit">
          <div class="fresh-table full-color-orange padding_10 ">
          <form th:action="@{/edit}" method="get" th:object="${edit}">
          <br><!--  ventana.html -->
				<div class="form-group form-inline ">	
					<select class="styled-select space" placeholder="tarea" th:field="*{tarea}">
					<option th:value="${null}"   selected> Seleccione una opción </option>
					  <option th:value="Tarea" th:text="Tarea"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					  <option th:value="Integracion" th:text="Integracion"></option>
					  <option th:value="Soporte" th:text="Soporte"></option>
					  <option th:value="Testing" th:text="Testing"></option>
					  <option th:value="Desarrollo" th:text="Desarrollo"></option>
					</select>
					
					<select class="styled-select space" placeholder="prioridad" th:field="*{prioridad}">
					  <option th:value="Alta" th:text="Alta"></option>
					  <option th:value="Media" th:text="Media"></option>
					  <option th:value="Baja" th:text="Baja"></option>
					</select>
<!-- 					<select class="styled-select space" placeholder="status" th:field="*{status}">
					  <option th:value="Activo" th:text="Activo"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					</select>	 -->				
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" >
					<datalist id="clientes">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
					<div class="input-group date radius_30">
						<input type="date" class="form-control radius_30" id="fecha" placeholder="Fecha Alert" th:field="*{fAlert}" >
					</div> 
				</div>

                
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" >
				<div class="marging_30">
	            	<button type="submit" name="action" value="en espera" class="btn btn-primary mb-3 ">En espera</button>
    	        	<button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
    	        </div>
			</form>
			<br> <!--  Jugar con el padin -->	
          </div>
</div>
</body>
</html>