<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Home!</title>
  </head>
  <body>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Alta Tarea</button>

	
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Nueva tarea</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
				<form id ="Alta" class="add text-center my-4 tabcontent" th:action="@{/alta}" method="get" th:object="${alta}">	
				<div class="form-group form-inline">
					<select class="styled-select space" placeholder="tarea" th:field="*{tarea}">
					<option th:value="${null}" selected> Seleccione una opción </option>
					  <option th:value="Tarea" th:text="Tarea"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					  <option th:value="Integracion" th:text="Integracion"></option>
					  <option th:value="Soporte" th:text="Soporte"></option>
					  <option th:value="Testing" th:text="Testing"></option>
					  <option th:value="Desarrollo" th:text="Desarrollo"></option>
					</select>	
					<select class="styled-select space" placeholder="prioridad" th:field="*{prioridad}">
					  <option th:value="Alta" th:text="Alta"></option>
					  <option th:value="Media" th:text="Media"></option>
					  <option th:value="Baja" th:text="Baja"></option>
					</select>
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" th:field="*{cliente}">
					<datalist id="clientes">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
<!-- 					<div class="input-group date">
						<input type="text" class="form-control" id="fecha" placeholder="Fecha Alert" th:field="*{fAlert}" >
					</div>	 -->
				</div>
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" th:field="*{descripcion}">
	            <button type="submit" name="action" value="en espera" class="btn btn-primary mb-3">En espera</button>
    	        <button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Send message</button>
	      </div>
	    </div>
	  </div>
	</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>