<!DOCTYPE html>
<html lang="en">

<head>

	<div class="scrollmenu">
	  <a href="#home">Home</a>
	  <a href="#news">News</a>
	  <a href="#contact">Contact</a>
	  <a href="#about">About</a>
	  ...
	</div>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>TO DO list</title>
</head>

<body>

    <div class="container">

        <header class="text-center text-light my-4">
            
			<!-- Tab links Alta -- Busqueda -->
			<div class="tab">
				<button class="tablinks" onclick="openCity(event, 'Alta')">Alta</button>
				<button class="tablinks" onclick="openCity(event, 'Search')">Buscar</button>
			</div>
			<!-- Tab content -->	
	
			<form id ="Alta" class="add text-center my-4 tabcontent">
				<label for="" class="text-light">Add a new "to do":</label>		
				<div class="form-group form-inline ">	
					<select class="styled-select space" placeholder="tarea">
					  <option>Tarea</option>
					  <option>Desarrollo</option>
					  <option>Integracion</option>
					  <option>Soporte</option>
					  <option>Testing</option>
					</select>
					<select class="styled-select space" placeholder="prioridad">
					  <option>Alta</option>
					  <option>Media</option>
					  <option>Baja</option>
					</select>					
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente">
					<datalist id="clientes">
						<option value="Lorca"></option>
						<option value="Bullas"></option>
						<option value="Santa Cruz"></option>
						<option value="Cieza"></option>
						<option value="A Coruña"></option>
						<option value="Durango"></option>
						<option value="Torrelavega"></option>
					</datalist>
					<input type="date" class="form-control space" name="fAlert" placeholder="Fecha Alert">
				</div>
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion">
				
				<button type="button" class="btn btn-default space">To do</button>
				<button type="button" class="btn btn-default space">Activo</button>

				
			</form>	

			<form id ="Search" class="add text-center my-4 tabcontent">
				<label for="" class="text-light">Buscar:</label>		
				<div class="form-group form-inline ">	
					<select class="styled-select space" placeholder="tarea">
					  <option>Tarea</option>
					  <option>Desarrollo</option>
					  <option>Integracion</option>
					  <option>Soporte</option>
					  <option>Testing</option>
					</select>
					<select class="styled-select space" placeholder="prioridad">
					  <option>Alta</option>
					  <option>Media</option>
					  <option>Baja</option>
					</select>					
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente">
					<datalist id="clientes">
						<option value="Lorca"></option>
						<option value="Bullas"></option>
						<option value="Santa Cruz"></option>
						<option value="Cieza"></option>
						<option value="A Coruña"></option>
						<option value="Durango"></option>
						<option value="Torrelavega"></option>
					</datalist>
					<input type="date" class="form-control space" name="fAlert" placeholder="Fecha Alert">
				</div>
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion">
				
				<button type="button" class="form-control space">Go</button>
			</form>				
			<h2 class="mb-4">TO DO list</h2>
            <form class="search">
                <input type="text" class="form-control" name="search" placeholder="Search TO DOs...">
            </form>
        </header>
		


		<table >
			<thead>
				<tr class="to-dos add text-center my-4" >
					<th>Ticket</th>
					<th>Tarea</th>
					<th>prioridad</th>
					<th>Cliente</th>
					<th>Fecha Alta</th>
					<th>Alert Fecha</th>
					<th>Descripcion</th>
					<th>Start</th>
					<th>Editar</th>
					<th>Borrar</th>
				</tr>
			</thead>
			<tbody class="to-dos add text-center my-4">
				<tr  th:each="tarea : ${tareasEnEpera}">
					<td th:text="${tarea.id}">1</td>
					<td th:text="${tarea.tarea}">Soporte</td>
					<td th:text="${tarea.prioridad}">Alta</td>
					<td th:text="${tarea.cliente}">Oficina </td>
					<td th:text="${tarea.fAlta}">27/07/20 11:20 </th>
					<th >27/07/20 15:00 </th>
					<th th:text="${tarea.descripcion}">Bidon de agua nn</th>
					<td> <i class="fa fa-hourglass-start" aria-hidden="true"></i> </td>
					<td> <i class="fa fa-cog fa-fw" aria-hidden="true"></i> </td>
					<td> <i class="far fa-trash-alt delete"></i></td>
				</tr>

			</tbody>
		</table>
		<br>
		
		


		
		<br>
        <header class="text-center text-light my-4">
            <h2 class="mb-4">TO DO Activas</h2>
            <form class="search">
                <input type="text" class="form-control" name="search" placeholder="Search TO DOs...">
            </form>
        </header>
		<table >
			<thead>
				<tr class="to-dos add text-center my-4" >
					<th>Ticket</th>
					<th>Tarea</th>
					<th>prioridad</th>
					<th>Cliente</th>
					<th>Fecha Alta</th>
					<th>Alert Fecha</th>
					<th>Descripcion</th>
					<th>Start</th>
					<th>Editar</th>
					<th>Borrar</th>
				</tr>
			</thead>
			<tbody class="to-dos add text-center my-4">
				<tr  th:each="activa : ${tareasActivas}">
					<td th:text="${activa.id}">1</td>
					<td th:text="${activa.tarea}">Soporte</td>
					<td th:text="${activa.prioridad}">Alta</td>
					<td th:text="${activa.cliente}">Oficina </td>
					<td th:text="${activa.fAlta}">27/07/20 11:20 </th>
					<th >27/07/20 15:00 </th>
					<th th:text="${activa.descripcion}">Bidon de agua nn</th>
					<td> <i class="fa fa-hourglass-start" aria-hidden="true"></i> </td>
					<td> <i class="fa fa-cog fa-fw" aria-hidden="true"></i> </td>
					<td> <i class="far fa-trash-alt delete"></i></td>
				</tr>

			</tbody>
		</table>

    </div>



	<br>
	<br>
	<br>

    <script th:src="@{/js/app.js}"></script>
</body>

</html>