<!DOCTYPE html>
<html lang="en">

<head>

	<div class="scrollmenu">
	  <a href="#home">Home</a>
	  <a href="#news">News</a>
	  <a href="#contact">Contact</a>
	  <a href="#about">About</a>
	  ...
	</div>
	    <div class="container">
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/1d7d370a25.js" crossorigin="anonymous"></script>
    <title>TO DO list</title>
</head>

<body>
	

    
		<!--  ventana modal alta -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Nueva tarea</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<form  th:action="@{/alta}" method="get" th:object="${alta}">	
					<div class="form-group form-inline">
						<select class="styled-select space" placeholder="tarea" th:field="*{tarea}">
						<option th:value="${null}" selected> Seleccione una opción </option>
						  <option th:value="Tarea" th:text="Tarea"></option>
						  <option th:value="'en espera'" th:text="'en espera'"></option>
						  <option th:value="Integracion" th:text="Integracion"></option>
						  <option th:value="Soporte" th:text="Soporte"></option>
						  <option th:value="Testing" th:text="Testing"></option>
						  <option th:value="Desarrollo" th:text="Desarrollo"></option>
						</select>	
						<select class="styled-select space" placeholder="prioridad" th:field="*{prioridad}">
						  <option th:value="Alta" th:text="Alta"></option>
						  <option th:value="Media" th:text="Media"></option>
						  <option th:value="Baja" th:text="Baja"></option>
						</select>
						<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" th:field="*{cliente}">
						<datalist id="clientes">
							<option th:value="Lorca"></option>
							<option th:value="Bullas"></option>
							<option th:value="'Santa Cruz'"></option>
							<option th:value="Cieza"></option>
							<option th:value="'A Coruña'"></option>
							<option th:value="Durango"></option>
							<option th:value="Torrelavega"></option>
						</datalist>
	 					<div class="input-group date">
							<input type="text" class="form-control" id="fecha" placeholder="Fecha Alert" th:field="*{fAlert}" >
						</div>	 
					</div>
					<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" th:field="*{descripcion}">
					<br>
		            <button type="submit" name="action" value="en espera" class="btn btn-primary mb-3">En espera</button>
	    	        <button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Send message</button>
		        <button type="submit" name="action" value="en espera" class="btn btn-primary mb-3">En espera</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- fin ventana modal -->

        <header class="text-center text-light my-4">
            
			<!-- Tab links Alta -- Busqueda -->
			<div class="tab">
				<div class="container mt-3">
				<div class="d-flex mb-3 bg-secondary">
				
					<div class="p-2 "><button class="tablinks" onclick="openCity(event, 'Search')">Buscar</button></div>
					
					<div class="p-2 "><button class="tablinks" onclick="openCity(event, 'Cancelar')">Limpia</button></div>
					
					<div class="p-2 ml-auto "><a class="list-group-item d-flex justify-content-end " href="" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fas fa-plus" aria-hidden="true"></i></a></div>
				</div>
				</div>
			
				
			</div>
			<!-- Tab content -->
			
			<form id ="Alta" class="add text-center my-4 tabcontent" th:action="@{/alta}" method="get" th:object="${alta}">	
				<div class="form-group form-inline">
					<select class="styled-select space" placeholder="tarea" th:field="*{tarea}">
					<option th:value="${null}" selected> Seleccione una opción </option>
					  <option th:value="Tarea" th:text="Tarea"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					  <option th:value="Integracion" th:text="Integracion"></option>
					  <option th:value="Soporte" th:text="Soporte"></option>
					  <option th:value="Testing" th:text="Testing"></option>
					  <option th:value="Desarrollo" th:text="Desarrollo"></option>
					</select>	
					<select class="styled-select space" placeholder="prioridad" th:field="*{prioridad}">
					  <option th:value="Alta" th:text="Alta"></option>
					  <option th:value="Media" th:text="Media"></option>
					  <option th:value="Baja" th:text="Baja"></option>
					</select>
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" th:field="*{cliente}">
					<datalist id="clientes">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
<!-- 					<div class="input-group date">
						<input type="text" class="form-control" id="fecha" placeholder="Fecha Alert" th:field="*{fAlert}" >
					</div>	 -->
				</div>
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" th:field="*{descripcion}">
	            <button type="submit" name="action" value="en espera" class="btn btn-primary mb-3">En espera</button>
    	        <button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
			</form>
			
			<form id ="Alta2" class="add text-center my-4 tabcontent" th:action="@{/alta}" method="get" th:object="${alta}">
				<div class="form-group form-inline">
					<select class="styled-select space" placeholder="tarea" th:field="*{tarea}">
					<option th:value="${null}" selected> Seleccione una opción </option>
					  <option th:value="Tarea" th:text="Tarea"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					  <option th:value="Integracion" th:text="Integracion"></option>
					  <option th:value="Soporte" th:text="Soporte"></option>
					  <option th:value="Testing" th:text="Testing"></option>
					  <option th:value="Desarrollo" th:text="Desarrollo"></option>
					</select>	
					<select class="styled-select space" placeholder="prioridad" th:field="*{prioridad}">
					  <option th:value="Alta" th:text="Alta"></option>
					  <option th:value="Media" th:text="Media"></option>
					  <option th:value="Baja" th:text="Baja"></option>
					</select>
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" th:field="*{cliente}">
					<datalist id="clientes">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
					<div class="input-group date">
						<input type="text" class="form-control" id="fecha" placeholder="Fecha Alert" th:field="*{fAlert}" >
					</div>	
				</div>
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" th:field="*{descripcion}">
	            <button type="submit" name="action" value="en espera" class="btn btn-primary mb-3">En espera</button>
    	        <button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
			</form>


			<form id ="Search" class="add text-center my-4 tabcontent" th:action="@{/search}" method="get" th:object="${search}">
				<label for="" class="text-light">Buscar:</label>		
				<div class="form-group form-inline ">	
					<select class="styled-select space" placeholder="tarea" th:field="*{tarea}">
					<option th:value="${null}" selected> Seleccione una opción </option>
					  <option th:value="Tarea" th:text="Tarea"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					  <option th:value="Integracion" th:text="Integracion"></option>
					  <option th:value="Soporte" th:text="Soporte"></option>
					  <option th:value="Testing" th:text="Testing"></option>
					  <option th:value="Desarrollo" th:text="Desarrollo"></option>
					</select>
					
					<select class="styled-select space" placeholder="prioridad" th:field="*{prioridad}">
					  <option th:value="Alta" th:text="Alta"></option>
					  <option th:value="Media" th:text="Media"></option>
					  <option th:value="Baja" th:text="Baja"></option>
					</select>
<!-- 					<select class="styled-select space" placeholder="status" th:field="*{status}">
					  <option th:value="Activo" th:text="Activo"></option>
					  <option th:value="'en espera'" th:text="'en espera'"></option>
					</select>	 -->				
					<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" th:field="*{cliente}">
					<datalist id="clientes">
						<option th:value="Lorca"></option>
						<option th:value="Bullas"></option>
						<option th:value="'Santa Cruz'"></option>
						<option th:value="Cieza"></option>
						<option th:value="'A Coruña'"></option>
						<option th:value="Durango"></option>
						<option th:value="Torrelavega"></option>
					</datalist>
					<div class="input-group date">
						<input type="text" class="form-control" id="fecha" placeholder="Fecha Alert" th:field="*{fAlert}" >
					</div> 
				</div>
				<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" th:field="*{descripcion}">
				
	            <button type="submit" name="action" value="en espera" class="btn btn-primary mb-3">En espera</button>
    	        <button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
			</form>	
			
			
			
			<h2 class="mb-4">TO DO list</h2>
        </header>
		


		<table >
			<thead>
				<tr class="to-dos add text-center my-4" >
					<th>Ticket</th>
					<th>Tarea</th>
					<th>Estado</th>
					<th>prioridad</th>
					<th>Cliente</th>
					<th>Fecha Alta</th>
					<th>Alert Fecha</th>
					<th>Descripcion</th>
					<th>Start</th>
					<th>Editar</th>
					<th>Borrar</th>
				</tr>
			</thead>
			<tbody class="to-dos add text-center my-3">
				<tr  th:each="tarea : ${tareasEnEpera}">
					<td th:text="${tarea.id}">1</td>
					<td th:text="${tarea.tarea}">Soporte</td>
					<td th:text="${tarea.status}">Soporte</td>
					<td th:text="${tarea.prioridad}">Alta</td>
					<td th:text="${tarea.cliente}">Oficina </td>
					<td th:text="${tarea.fAlta}">-- </th>
					<td >27/07/20 15:00 </td>
					<td th:text="${tarea.descripcion}"></td>
					<td> <a class="list-group-item" th:href="@{/changeStatus/{id} (id=${tarea.id}) }"><i class="fas fa-hourglass-start" aria-hidden="false"></i></a></td>
					<td>
					  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"></button>
					   <ul class="dropdown-menu" role="menu">
						<div class="d-flex bg-secondary">  
						    <div class="p-1 "><li><a class="list-group-item" th:href="@{/editarTarea/{id} (id=${tarea.id}) }" data-toggle="modal" data-target="#ventaModaledite" data-whatever="@mdo"><i class="far fa-edit" aria-hidden="true"></i>Editar</a></li></div>
						    
				    
						    
						    <div class="p-1 "><li><a class="list-group-item" th:href="@{/resolverTarea/{id} (id=${tarea.id}) }" ><i class="far fa-check-circle" aria-hidden="true"></i>Resolver</a></li></div>
						    
						</div>  
					   </ul>
					</td>
					<td> <a class="list-group-item" th:href="@{/deleteTarea/{id} (id=${tarea.id}) }"><i class="far fa-trash-alt delete" aria-hidden="true"></i></a></td>

					<td>
								<!--  ventana modal edit -->
								<div class="modal fade" id="ventaModaledite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title colorNegro" id="exampleModalLabel" style="color:black">Modificar la tarea tarea</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								      <div class="modal-body">
										<form  th:action="@{/editarTarea/{id} (id=${tarea.id}) }" method="get" th:object="${edit}">	
											<div class="form-group form-inline">
												<select class="styled-select space" placeholder="tarea" th:field="*{tarea}">
												<option th:value="${null}" selected> Seleccione una opción </option>
												  <option th:value="Tarea" th:text="Tarea"></option>
												  <option th:value="'en espera'" th:text="'en espera'"></option>
												  <option th:value="Integracion" th:text="Integracion"></option>
												  <option th:value="Soporte" th:text="Soporte"></option>
												  <option th:value="Testing" th:text="Testing"></option>
												  <option th:value="Desarrollo" th:text="Desarrollo"></option>
												</select>	
												<select class="styled-select space" placeholder="prioridad" th:field="*{prioridad}">
												  <option th:value="Alta" th:text="Alta"></option>
												  <option th:value="Media" th:text="Media"></option>
												  <option th:value="Baja" th:text="Baja"></option>
												</select>
												<input class="form-control space" list="clientes" name="cliente" type="text" placeholder="Elige un cliente" th:field="*{cliente}">
												<datalist id="clientes">
													<option th:value="Lorca"></option>
													<option th:value="Bullas"></option>
													<option th:value="'Santa Cruz'"></option>
													<option th:value="Cieza"></option>
													<option th:value="'A Coruña'"></option>
													<option th:value="Durango"></option>
													<option th:value="Torrelavega"></option>
												</datalist>
							 					<div class="input-group date">
													<input type="text" class="form-control" id="fecha" placeholder="Fecha Alert" th:field="*{fAlert}" >
												</div>	 
											</div>
											<input type="text" class="form-control space" name="descripcion" placeholder="descripcion" th:text="${tarea.descripcion}" th:field="*{descripcion}">
											<br>
								            <button type="submit" name="action" value="en espera" class="btn btn-primary mb-3">En espera</button>
							    	        <button type="submit" name="action" value="activo" class="btn btn-primary mb-3">Activos</button>
										</form>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								        <button type="button" class="btn btn-primary">Send message</button>
								        <button type="submit" name="action" value="en espera" class="btn btn-primary mb-3">En espera</button>
								      </div>
								    </div>
								  </div>
								</div>
								<!-- fin ventana modal -->		
					</td>
				</tr>

			</tbody>
		</table>
		<br>
		
		


		
		<br>
        <header class="text-center text-light my-4">
            <h2 class="mb-4">TO DO Activas</h2>
            <form class="search">
              
            </form>
        </header>
		<table >
			<thead>
				<tr class="to-dos add text-center my-4" >
					<th>Ticket</th>
					<th>Tarea</th>
					<th>Estado</th>
					<th>Estatus</th>
					<th>prioridad</th>
					<th>Cliente</th>
					<th>Fecha Alta</th>
					<th>Alert Fecha</th>
					<th>Descripcion</th>
					<th>Start</th>
					<th>Editar</th>
					<th>Borrar</th>
				</tr>
			</thead>
			<tbody class="to-dos add text-center my-4">
				<tr  th:each="activa : ${tareasActivas}">
					<td th:text="${activa.id}">1</td>
					<td th:text="${activa.tarea}">Soporte</td>
					<td th:text="${activa.status}">Soporte</td>
					<td th:text="${activa.prioridad}">Alta</td>
					<td th:text="${activa.cliente}">Oficina </td>
					<td th:text="${activa.fAlta}">27/07/20 11:20 </th>
					<td >27/07/20 15:00 </td>
					<td th:text="${activa.descripcion}">Bidon de agua nn</td>
					<td> <a class="list-group-item" th:href="@{/changeStatus/{id} (id=${activa.id}) }"><i class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true"></i></a></td>
					<td>
					  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"></button>
					   <ul class="dropdown-menu" role="menu">
						<div class="d-flex bg-secondary">		  
						    <div class="p-1 "><li><a class="list-group-item" th:href="@{/editarTarea/{id} (id=${activa.id}) }"><i class="far fa-edit" aria-hidden="true"></i>Editar</a></li></div>
						    <div class="p-1 "><li><a class="list-group-item" th:href="@{/resolverTarea/{id} (id=${activa.id}) }"><i class="far fa-check-circle" aria-hidden="true"></i>Resolver</a></li></div>
						</div>  
					   </ul>
					</td>
					<td> <a class="list-group-item" th:href="@{/deleteTarea/{id} (id=${activa.id}) }"><i class="far fa-trash-alt delete" aria-hidden="true"></i></a></td>
				</tr>

			</tbody>
		</table>

    </div>


	<br>
	<br>
	<br>

    <script th:src="@{/js/app.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>  
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 	
 	 <script type="text/javascript">
      $(function () {
          $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
      
      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
      
      </script>
   
     
</body>

</html>