<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<div th:insert="fragments/header :: header-css"> </div>
	
	
	

</head>
<body>


<div class="wrapper">




  <div class="container-full">
    <div class="row">
      <div class="">  <!--  original classs col-md-8 col-md-offset-2 -->
        <div class="description ">
          <h2>Listado Tareas</h2>
        </div>
          <div class="fresh-table full-color-orange ">
          	<

          	  <div class="" th:insert="fragments/listado :: activosDemos"> </div> 

          </div>
          <div class="fresh-table full-color-orange ">

          	  <div th:insert="fragments/listado :: espera"> </div> 

          </div>        

        
        <div class="description description-footer">

          <p>Copyright &copy; 2022  by kike </p>
        </div>
      </div>
    </div>
  </div>
</div>






</body>

  <script type="text/javascript">
    var $table = $('#fresh-table')
    var $tableEspera = $('#fresh-table_espera')
    var $alertBtn = $('#alertBtn')



    $(function () {
      $table.bootstrapTable({
        classes: 'table table-hover table-striped',
        toolbar: '.toolbar',
		
        search: true,
        showRefresh: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 8,
        pageList: [8, 10, 25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber + ' rows visible'
        }
      })
    })
    
    $(function () {
      $tableEspera.bootstrapTable({
        classes: 'table table-hover table-striped',
        toolbar: '.toolbar',
		
        search: true,
        showRefresh: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 8,
        pageList: [8, 10, 25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber + ' rows visible'
        }
      })
    })





  </script>


</html>