/activation-1.1.1.jar
/activation-1.1.jar
/dsn-1.6.2.jar
/gimap-1.6.2.jar
/imap-1.6.2.jar
/javax.mail-1.6.2.jar
/javax.mail-api-1.6.2.jar
/logging-mailhandler-1.6.2.jar
/mailapi-1.6.2.jar
/pop3-1.6.2.jar
/smtp-1.6.2.jar
